# ignore tudo por padrão
/*
/.config/*
/.local/*

!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.bash_logout
!/.xinitrc
!/.gitignore

!/.config/nvim/
!/.config/htop/
!/.config/containers/

!/.local/share/
/.local/share/*
!/.local/share/bash-completion/
!/.local/share/fonts/

!/.local/bin/
/.local/bin/*
!/.local/bin/gum
!/.local/bin/almond

.bash_history
.config/*/cache/
.config/*/Cache/
*.log
*.db
